body {
    padding: 20px;
    text-align: center;
    border: 9px solid gold;
    border-radius: 20px;
    background-color: blueviolet;

}
div{
    background: gray;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    text-transform: capitalize;

}

header {
    text-align: end;
    background: whitesmoke;
    color: black;
    border-radius: 20px;
    border: 2px solid white;

}

header {
    text-align: end;
    background: whitesmoke;
    color: black;
    border-radius: 20px;
    border: 2px solid white;

}

p {
    text-align: justify;
    font-size: smaller;
    color: beige;
    background: black;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid blue;
    cursor: pointer;

}

section {
    background: rgb(228, 216, 216);
    border-radius: 90px;
    text-align: center;
    padding: 20px;
    font-size: larger;
    color: black;

}

input {
    border-radius: 20px;
    color: blue;
    display: block;
    font-display: fallback;
    padding: 8px;

}

button {
    background: rgb(14, 13, 13);
    color: rgb(211, 219, 223);
    border-radius: 20px;
    padding: 10px;
    width: 70vh;


}
#signupBtn:signup{
    background-color: rgb(42, 165, 97)
}

label {
    text-align: left;
    display: flex;
    font-size: larger;

}

footer {
    background: black;
    color: white;
    border-radius: 20px;
    border: 2px solid green;
    font-size: medium;
    padding: 10px;

}